{
  "root": true,
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "import/prefer-default-export": "off"
  },
  "overrides": [
    {
      "files": ["packages/core/src/**/*.js"],
      "parserOptions": {
        "sourceType": "module"
      }
    },
    {
      "files": ["*.test.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
