{
  "root": true,
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "strict": ["error", "global"]
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "parserOptions": {
        "sourceType": "module"
      }
    }
  ]
}
